# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# C extensions
*.obj
*.dll
*.lib

# Distribution / packaging
dist/
build/*
!build/getsu.spec
!build/version_info.txt
!build/version_info_cli.txt
*.egg-info/
*.spec.bak

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Environments
pyenv/
venv/
env/
.venv/
ENV/

# Local audio test recordings & samples
*.wav
sound-sample/

# Logs
*.log

# Editor & OS artifacts
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
Desktop.ini
